body {
    background-color: rgb(198, 223, 188);
}

header {
    border-bottom: 5px solid green ;
}

#decompteScore {
    margin-right: 6%;
}

#regleJeu {
    margin-left : 6%;
}

#compteScore, #decompteTemps {
    border: 2px solid green;
    padding-right: 10%;}

.enLigne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#placeDeJeu {
    border: 2px solid green;
    border-radius: 3%;
    height: 45vh;
    width: 65vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header{
    display: flex;
    justify-content: space-between;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

#lancerJeu {
    margin: 1.5em;

}

.bouton img {
    width: 15vh;   
}

#placeJeu img {
    padding : 5%;
}

.bouton {
    border: 2px solid green;
    border-radius: 50%;
    padding: 1%;
    background-color: rgb(255, 255, 255);
}

.divRegle {
    background-color: rgb(38, 105, 18);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 50svh;
    margin: 2%;
    border-radius: 6px;
    text-align: center;
    font-size: 1.5em;
    padding: 2%;
}